@use "reset";
@use "vars";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: vars.$font-family-overpass;
  background-color: vars.$very-dark-blue;
  color: vars.$white;
}
